/*Properties
background-color
background-image
color
filter
@keyframes
opacity
transform
vertical-align
*/
/*.blue:hover {
  background-color: blue;
}
*/

.ps {
  filter: blur(9px);
  filter: grayscale(75%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ps:hover {
  filter: none

}

body {
  background-image: url("different-shades-of-green-color-2078266.jpg");
  background-color: #cccccc;
}
