/*Properties
background-color
background-image
color
filter
@keyframes
opacity
transform
vertical-align
*/

p:hover {
  background-color: blue;
}

img {
  filter: blur;
  height: 25%;
  width: 25%;
}

img:hover {
  filter: none
}
