/*Properties
background-color
background-image
color
filter
@keyframes
opacity
transform
vertical-align
*/
/*.blue:hover {
  background-color: blue;
}
*/

.ps {
  filter: blur(9px);
  filter: grayscale(75%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ps:hover {
  filter: none

}

.bg-image {
  background-image: url("bokeh-of-lights-photography-1210276.jpg");
  background-color: #cccccc;
}

#videoedit {
  background-image: url("https://images.pexels.com/photos/3379934/pexels-photo-3379934.jpeg");
  color: blue;
}

h5 {
  font-weight: bold
}

* {
  font-family: fantasy;
}

[font-weight] {
  font-family: monospace;
}

#myImg {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: 0% 0%;
  animation: mymove 10s infinite;
}

@keyframes mymove {
  0% {
    object-position: 100% 100%;
  }
  25% {
    object-position: 150% 150%;
  }
  100% {
    object-position: 200% 200%;
  }
}
